body {
  margin: 0;
  background: '#000';
  color: 'white';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Bebas Neue, sans-serif,
    monospace;
}
